<html>
<body>

  <h1>super fun exciting game</h1>
  <h2>Sign in to play</h2>

<form action="/play" method="post">

  <label for="player_name">Player Name</label>
  <input type="text" name="player_name" placeholder="Enter Name">

<div class="start">
  <input type="submit" value="Play">
</div>

</form>

</body>
</html>
